<!--footer.html-->
{% load static %}
<nav class="navbar fixed-bottom navbar-nav toolbar">
    <div class="container-fluid tool-container">
        <div class="row align-items-center">                
            <div class="col non-panding">
                <a href ="#">
                    <div class="tool-item-icon ">
                        <img src="{% static '/img/123.png' %}" class="attachment-full size-full" alt="訂購">
                    </div>
                </a>
            </div>  
            <div class="col non-panding">
                <a href ="#">
                    <div class="tool-item-icon ">
                        <img src="{% static '/img/123.png' %}" class="attachment-full size-full" alt="購物車">
                    </div>
                </a>
            </div>
            <div class="col non-panding">
                <a href ="#">
                    <div class="tool-item-icon ">
                        <img src="{% static '/img/123.png' %}" class="attachment-full size-full" alt="訂單">
                    </div>
                </a>
            </div>
            <div class="col non-panding">
                <a href ="#">
                    <div class="tool-item-icon ">
                        <img src="{% static '/img/123.png' %}" class="attachment-full size-full" alt="會員">
                    </div>
                </a>
            </div>
            <div class="col non-panding">
                <a href ="#">
                    <div class="tool-item-icon ">
                        <img src="{% static '/img/123.png' %}" class="attachment-full size-full" alt="更多">
                    </div>
                </a>
            </div>
        </div>
    </div>
</nav>